* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-primary: #e8eaec;
}

input,
button,
li {
  all: unset;
}

body {
  background-color: var(--bg-primary);
  padding-top: 70px;
}

main {
  position: relative;
  width: 350px;
  background-color: var(--bg-primary);
  ;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 12px 12px 32px rgba(13, 39, 80, 0.25), -10px -10px 15px white;
}

.calculator-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}

.display {
  width: 100%;
  background-color: var(--bg-primary);
  ;
  height: 70px;
  border-radius: 9px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 8px rgba(13, 39, 80, 0.25), -6px -6px 10px white,
    inset -8px -8px 12px rgba(255, 255, 255, 0.7),
    inset 5px 5px 8px rgba(13, 39, 80, 0.2);
}

.inputField,
.operationField {
  width: 98%;
  height: 40%;
  text-align: right;
  color: rgba(11, 37, 78, 0.6);
  font-size: 1.5rem;
  padding-top: 7px;
}

section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 50px);
  gap: 8px;
}

button {
  border-radius: 7px;
  text-align: center;
  box-shadow: 5px 5px 8px rgba(13, 39, 80, 0.25), -6px -6px 10px #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #0b254e;
  font-weight: 700;
}

button:active {
  box-shadow: inset 5px 5px 8px rgba(13, 39, 80, 0.25), -6px -6px 10px #fff;
}

button:hover {
  scale: 1.1;
}

/* button:disabled {
  background-color: #f0f0f0;
  color: #a0a0a0;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.6;
} */
.btns__btn--clear {
  background-color: rgba(255, 0, 0, 0.809);
}

.btns__btn--num {
  background-color: rgb(203, 208, 214);
}

.btns__btn--eql {
  background-color: rgba(19, 167, 167, 0.8);
  box-shadow: 5px 5px 4px rgba(13, 39, 80, 0.25), -6px -6px 10px #fff;
}

.history {
  position: absolute;
  top: 38px;
  left: 10px;
  background-color: rgb(184, 188, 193);
  color: #0b254e;
  width: 340px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 12px;
  border-top-left-radius: 0;
  z-index: 2;
}

.history__close-btn {
  margin-left: 92%;
  height: 30px;
  width: 30px;
  box-shadow: 5px 5px 8px rgba(13, 39, 80, 0.25), -6px -6px 10px #c7c4c4;
}

.hbtn {
  cursor: pointer;
  grid-column: span 7;
  height: 50px;
}

.hide {
  display: none;
}

.history {
  position: absolute;
}

.active {
  border: 2px solid teal;
}

.calculator-containe {
  display: flex;
}

li {
  outline: 2px solid var(--bg-primary);
  ;
  padding: 8px;
  border-radius: 5px;
  z-index: 100;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
  width: fit-content;
}

label {
  font-size: 25px;
  font-weight: bolder;
  vertical-align: super;

}

label+button {
  position: relative;
  height: 30px;
  width: 40px;
  top: -10px;
  left: 45%;
  background-color: rgba(255, 0, 0, 0.809);
}

#new-calculator-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background-color: rgb(232, 232, 110);
  z-index: 100;
}

.operationField{
  width: 100%;
  overflow: auto;
  font-size: medium;
}
